.p{
	height: 100px;
	width: 100px;
	background-color: red;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-name: hi;

}
@keyframes hi{
	from{
		background-color: red;
	}
	to{
		background-color: yellow;
	}
}